# Environment files
**/*.env
**/.*.env
.env

# Except sample env files
!**/.sample.env
!**/sample.env

# Project specific
local.txt
queries.sql
*.png
config.json
sql-queries1
ca.pem
*.jks
.DS_Store

node_modules/
readme.md